.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/test/unit/coverage/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# ingore image directory
python_script/*_images/
python_script/*.pkl
python_script/unknown_images_try1/
python_script/unknown_images_try2/
*.pyc
python_script/image/
python_script/combined_data.json